name: Weekly Avocado Price

on:
  schedule:
    - cron: "* 17 * * 3"
  workflow_dispatch: {}

jobs:
  run:
    runs-on: ubuntu-latest

    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      USDA_MMN_API_KEY: ${{ secrets.USDA_MMN_API_KEY }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: sbt

      - name: Setup sbt launcher
        uses: sbt/setup-sbt@v1

      - name: Run job
        run: sbt run
